@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .neu1 {
    border-radius: 32px;
    background: #ffffff;
    box-shadow:
      -30px 30px 83px #b5b5b5,
      30px -30px 83px #ffffff;
  }
  .neu2 {
    border-radius: 32px;
    background: #ffffff;
    box-shadow:
      -9px 9px 22px #c7c7c7,
      9px -9px 22px #ffffff;
  }
  .neu3 {
    border-radius: 32px;
    background: #ffffff;
    box-shadow:
      17px 17px 35px #d9d9d9,
      -17px -17px 35px #ffffff;
  }
  .sunshadow {
    box-shadow: 0px 0px 300px 200px #d8a129;
  }


  .sub-heading {
    @apply py-1 text-center text-xl font-bold text-brown md:text-2xl;
  }

  .headtext {
    @apply text-xl font-bold text-center md:text-2xl;
  }

  .paratext {
    @apply font-semibold text-base md:text-xl;
  }

  .paymentlabel {
    @apply m-2 ml-4 cursor-pointer text-xl font-medium;
  }

  .smalltext{
    @apply text-xs md:text-sm text-gray-600;
  }

  .smallbutton {
    @apply absolute bottom-3 right-4 cursor-pointer rounded-md bg-orange px-1 text-sm font-bold transition-all hover:bg-brown hover:text-white md:px-2 md:py-1;
  }

  .featureimg {
    @apply w-12 h-12 md:w-16 md:h-16;
  }
  .pageheight {
    @apply min-h-[90vh];
  }
  .downbutton {
    @apply rounded-xl md:rounded-2xl bg-green-500 px-2 py-1 md:px-4 md:py-1 text-sm md:text-base font-semibold text-white hover:bg-green-600;
  }
  .text-shad-s{
    @apply [text-shadow:_-4px_5px_6px_#db831f]
  }
}
@font-face {
  font-family: Cav;
  src: url(./assets/fonts/CAVOLINI.TTF);
}
@font-face {
  font-family: CavBold;
  src: url(./assets//fonts/CAVOLINIBOLD.TTF);
}
@font-face {
  font-family: Janime;
  src: url(./assets//fonts/janime.otf);
}
@font-face {
  font-family: Bubble;
  src: url(./assets//fonts/Bubble.otf);
}
@font-face {
  font-family: Walto;
  src: url(./assets//fonts/walto.ttf);
}
@font-face {
  font-family: Peach;
  src: url(./assets//fonts/milkpeach.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  transition: all;
}

::-webkit-scrollbar:horizontal{
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #998b8b62; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb84d;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #533030;
}

::-webkit-input-placeholder {
  color: #000000;
}
::-webkit-input-placeholder::active {
  border: #000000;
  color: #000000;
}
