@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }
}
@font-face {
  font-family: Cav;
  src: url(./assets/fonts/CAVOLINI.TTF);
}
@font-face {
  font-family: CavBold;
  src: url(./assets//fonts/CAVOLINIBOLD.TTF);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  transition: all;
}


/* Track */
::-webkit-scrollbar-track {
  /* background: #998b8b62; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb84d;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #533030;

}