@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }
}
@font-face {
  font-family: Cav;
  src: url(./assets/fonts/CAVOLINI.TTF);
}
@font-face {
  font-family: CavBold;
  src: url(./assets//fonts/CAVOLINIBOLD.TTF);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #998b8b;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb84d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #533030;
}